@charset "utf-8";
/*------------------------------------------------------------------------
 * LESS content styles for frontend and RTE
--------------------------------------------------------------------------*/

/* ----------------------------- css reset ----------------------------------------- */

body *, body {
  margin:0;
  padding:0;
  border:0;
}

img {border: 0;}
:focus { outline:0;}

a {
  text-decoration:none;
  outline:none
}

/* ------------------------- general float & clear classes --------------------------- */

/* clearfix for floats */
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */


/* ----------------------------- general typo & styles ---------------------------  */

*, html *, body * {
	font-family: 'Verdana, sans-serif';
	font-size:16px;
	line-height:18px;
  color:#335555;
}

/* ---------------------- special formats --------------------- */
.border-top {
  border-top:2px solid #335555;
}

.border-bottom {
  border-bottom:2px solid #335555;
}

.no-padding {
  padding:0 !important;
}

/* ----- CK Editor ----- */
body.cke_editable {
  padding: 1em 0.7em;
}
