@charset "utf-8";
/*------------------------------------------------------------------------
--------------------------------------------------------------------------
LESS layout styles:
-------------------------------------------------------------------------
--------------------------------------------------------------------------*/

body { }

.padding-lr{
	padding-left: 2vw;
	width: 94vw;
}

// navigation
#navigation {
	position: fixed;
	top: 0;
	background-color: #FFF;
	padding: 1em 0;
	.padding-lr();
	width: 98vw;
	ul {
		list-style-type: none;
		li {
			&.act{ font-weight: bold }
			display: inline-block;
			margin-right: 1em;
		}
	}
}

#content {
	padding: 5em 0 4em 0;
	.padding-lr();
}

#footer {
	position: fixed;
	bottom: 0;
	background-color: #FFF;
	padding: 1em 0;
	.padding-lr();
}
