@charset "utf-8";

/*------------------------------------------------------------------------
--------------------------------------------------------------------------
LESS styles for mobile devices:
-------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/* general styles */
*, html *, body * {
  font-size:19px;
  line-height:21px;
  /* prevent font size adjustment on some mobile devices */
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
