<div id="all-wrap">
	<nav id="navigation" class="clearfix">
		{navigation -> f:format.raw()}
	</nav>
	<div id="content">
		{content -> f:format.raw()}
	</div>
	<div id="footer">
		{footer -> f:format.raw()}
	</div>
</div>
